
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> name</th>
                    <th> parameters </th>
                    <th> status</th>
                    <th> opt_record(dat) </th>
                    <th> remove </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in tasks">
                    <td> {{task.name}} </td>
                    <td>
                        <a class="btn btn-default" href="{{task.parametersUrl}}">
                            <span class="glyphicon glyphicon-save"></span> view parameters
                        </a>
                    </td>
                    <td> 
                        <button type="button" class="btn btn-default" ng-class="{'btn-info':task.status=='in execution', 'btn-success':task.status=='finished'}">{{task.status}}</button>
                    <td>
                        <a class="btn btn-default" href="{{task.optRecordUrl}}">
                            <span class="glyphicon glyphicon-save"></span> download
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="removeTask(task.name)">remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
